@{
    ViewData["Title"] = "Topluluklar Listesi";
}

<div class="container mt-4">
    <h2>Topluluklar</h2>
    <div class="row">
        <p>Topluluk listesi burada görüntülenecek...</p>
    </div>
</div> 